<div class="product-cart-wrapper">
  <article class="product-cart">
    <div class="product-body">
      <p>product.title</p>
      <div class="product-cart-info">
        <p>$$ product.price</p>
        <p>product.cantidad</p>
      </div>
    </div>

    <div class="product-cart-total">
      <p>product.price * product.cantitdad</p>
    </div>
    <div class="product-cart-buttons">
      <div class="product-cart-operators">
        <i class="fa-solid fa-minus"></i>
        <span class="numero">44</span>
        <i class="fa-solid fa-plus"></i>
      </div>
      <i class="fa-solid fa-trash"></i>
    </div>
  </article>
  <div class="cart-total">
    <p class="cart-total-total">TOTAL:$$ total</p>
  </div>
  <button class="cart-btn">IR A MI CESTA</button>
</div>
