.navbar {
  min-height: 7rem;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  border-bottom: 2px solid grey;
  background-color: #33332f;
  color: white;
  position: relative;
}
.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
}

.navbar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.navbar-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}
.navbar-cart-items {
  color: white;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: red;
  width: 2rem;
  height: 2rem;
}
.navbar-cart-items p {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart {
  display: none;
}
.show {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid red;
  right: 0px;
  top: 8rem;
  min-width: 40%;
}
